.countdown {
  display: flex;
  gap: 55px;
  cursor: pointer;
}

/* RING BASE */
.ring {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* OUTER GLOW RING */
.ring::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 3px solid;

  filter: blur(3px);
}

/* INNER THIN RING */
.ring::after {
  content: "";
  position: absolute;
  inset: 12px;
  border-radius: 50%;
  border: 1px solid;

  opacity: 0.7;
}

/* INNER CORE */
.inner {
  width: 105px;
  height: 105px;
  border-radius: 50%;

  background: rgba(12, 12, 25, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow:
    inset 0 0 20px rgba(255, 255, 255, 0.05);
}

/* NUMBER */
.inner span {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

/* LABEL */
.inner p {
  font-size: 0.7rem;
  letter-spacing: 1px;
  opacity: 0.6;
  margin-top: 4px;
}

/* COLORS MATCHING POSTER */

/* CYBER BLUE */
.days,
.seconds {
  color: #7a04eb;;
}

.days::before,
.seconds::before {
  border-color: #7a04eb;;
  box-shadow: 0 0 12px #7a04eb;;
}

.days::after,
.seconds::after {
  border-color: #7a04eb;;
}

/* NEON PINK */
.hours,
.minutes {
  color: #ff00a0;
}

.hours::before,
.minutes::before {
  border-color: #ff00a0;
  box-shadow: 0 0 12px #ff00a0;
}

.hours::after,
.minutes::after {
  border-color: #ff00a0;
}


.ring::before {
  animation: pulseGlow 2.8s ease-in-out infinite;
}

@keyframes pulseGlow {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}
.ring {
  transition: transform 0.35s ease, filter 0.35s ease;
}

.ring:hover {
  transform: translateY(-8px) scale(1.05);
}
@media (max-width: 768px) {

  .countdown {
    gap: 18px;              /* reduce spacing */
    flex-wrap: nowrap;      /* force single row */
    justify-content: center;
  }

  .ring {
    width: 70px;            /* smaller ring */
    height: 70px;
  }

  .ring::after {
    inset: 7px;             /* adjust inner thin ring */
  }

  .inner {
    width: 55px;            /* smaller core */
    height: 55px;
  }

  .inner span {
    font-size: 1.2rem;      /* smaller number */
    letter-spacing: 1px;
  }

  .inner p {
    font-size: 0.4rem;
    color: white;     /* smaller label */
  }

  .ring:hover {
    transform: none;        /* optional: disable hover jump on mobile */
  }
}
