/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
} */

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-color: rgb(10, 10, 15);

  background-image:

    /* Micro grid */
    repeating-linear-gradient(90deg,
      rgba(255, 255, 255, 0.03) 0px,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px,
      transparent 60px),

    repeating-linear-gradient(0deg,
      rgba(255, 255, 255, 0.03) 0px,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px,
      transparent 60px),

    /* Main grid */
    repeating-linear-gradient(90deg,
      rgba(255, 255, 255, 0.08) 0px,
      rgba(255, 255, 255, 0.08) 1px,
      transparent 1px,
      transparent 140px),

    repeating-linear-gradient(0deg,
      rgba(255, 255, 255, 0.08) 0px,
      rgba(255, 255, 255, 0.08) 1px,
      transparent 1px,
      transparent 140px),

    /* Base gradient */
    linear-gradient(135deg,
      rgb(6, 6, 10) 0%,
      rgb(15, 10, 30) 40%,
      rgb(10, 20, 35) 60%,
      rgb(20, 5, 35) 100%);
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    radial-gradient(circle at 20% 30%, rgba(255, 0, 140, 0.18), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(0, 234, 255, 0.18), transparent 40%),
    radial-gradient(circle at 50% 50%, rgba(122, 4, 235, 0.15), transparent 50%);

  filter: blur(90px);
  pointer-events: none;
}
