.reg-modal-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:999;
  letter-spacing:1.1px;
}

/* modal container */

.reg-modal{
  position:relative;
  width:380px;
  min-height:320px;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* blob shape */

.blob{
  position:absolute;
  width:100%;
  height:100%;
  background:linear-gradient(135deg,#ff006a,#6a00ff,#00c3ff);
  border-radius:60% 40% 50% 70% / 60% 30% 70% 40%;
  animation:blobMove 8s infinite ease-in-out;

  box-shadow:
  0 0 25px rgba(140,0,255,.5),
  0 0 50px rgba(0,195,255,.4);

  filter:blur(1px);
}

@keyframes blobMove{
  0%{
    border-radius:60% 40% 50% 70% / 60% 30% 70% 40%;
  }
  50%{
    border-radius:40% 60% 70% 40% / 50% 60% 40% 60%;
  }
  100%{
    border-radius:60% 40% 50% 70% / 60% 30% 70% 40%;
  }
}

/* modal content */

.modal-content{
  position:relative;
  z-index:2;
  text-align:center;
  color:white;
  padding:28px 34px;
  max-width:300px;
}

/* heading */

.mod-h{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  font-size:22px;
  font-weight:600;
  margin-bottom:10px;
}

.modal-icon{
  font-size:20px;
}

/* message text */

.modd-p{
  font-size:14px;
  line-height:1.7;
  margin-top:8px;
  opacity:0.95;
}

/* credits section */

.credits{
  margin-top:18px;
  font-size:13px;
  opacity:0.9;
  line-height:1.6;
}

/* highlight names */

.names{
  display:block;
  margin-top:6px;
  font-weight:bolder;
  letter-spacing:1px;
  background:linear-gradient(90deg,#00c3ff,#ffffff,#ff00cc);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}


/* close button */

.modal-close{
  position:absolute;
  top:14px;
  right:16px;
  border:none;
  background:none;
  color:white;
  font-size:18px;
  cursor:pointer;
  transition:transform .2s;
}

.modal-close:hover{
  transform:scale(1.2);
}